{% extends 'layouts/default.njk' %}

{% set title = post.title %}
{% set codeinjection_head = post.codeinjection_head %}
{% set codeinjection_foot = post.codeinjection_foot %}

{% block content %}
    <article class="blog-post px-3">
            <figure>
                <img class="img-fluid rounded" src="{{ post.feature_image }}" alt=""></img>
            </figure>
        <div class="row">
            <div class="col-xl-8">
                <div class="media">
                    <a href="{{ post.primary_author.url }}">
                        <img class="author-profile-image rounded-circle d-none d-sm-block" src="{{ post.primary_author.profile_image }}" alt="{{ post.primary_author.name }}"/>
                    </a>
                    <div class="media-body pl-sm-2 blog-post-title">
                        <h2 class="blog-post-title">{{ post.title }}</h2>
                        <h6 class="blog-post-meta">By <a href="{{ post.primary_author.url }}">{{ post.primary_author.name }}</a> | {{ post.published_at.toDateString() }}</h6>
                    </div>
                </div>
                {% set html = post.html.split('<hr>') %}
                {{ html[0] | safe }}
                {{ html[1] | safe }}
                <br/>
                {% if site.newsletter == true %}
                <h2>Want to keep in touch?</h2>
                <p>Sign up to our weekly briefing - with all the latest news, opinion and analysis from justLiberals and our partners.</p>
                <form action="https://meadow.justliberals.org.uk/signup" method="POST">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address:</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="my_cool@email.address">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="secret" tabindex="-1" value="11111111"></div>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <br/>
                {% endif %}
            </div>
            {% include "partials/sidebar.njk" %}
        </div>
    </article>
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ post.primary_author.twitter if post.primary_author.twitter else site.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title }} - {{ site.title }}">
    <meta name="twitter:description" content="{{ html[0] | safe }}">
    <meta name="twitter:image" content="{{ post.feature_image }}">

    <!--Schema-->
    <link rel="author" href="{{ post.primary_author.website if post.primary_author.website else site.url }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} - {{ site.title }}">
    <meta itemprop="description" content="{{ html[0] | safe }}">
    <meta itemprop="image" content="{{ post.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} - {{ site.title }}">
    <meta property="og:image" content="{{ post.feature_image }}">
    <meta property="og:description" content="{{ html[0] | safe }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">

    <!-- Canonical URL -->
    {% if post.canonical == "ALDES" %}
    <link rel="canonical" href="{{ "https://www.aldes.org.uk" + page.url }}" />
    {% else %}
    <link rel="canonical" href="{{ site.url + page.url }}" />
    {% endif %}
{%- endblock -%}
