<div class="blog-footer">
    <footer class="container p-4">
        <div class="row">
            <div class="col-md-2"><img class="img-fluid pb-4" src={{ site.url }}/assets/images/libby.png></img>
            </div>
            <div class="col-md-10">
                <p class="text-md-right">The Liberal Democrats will use your contact details to send you information on the topics you have requested. Any data we gather will be used in accordance with our privacy policy at <a href="https://www.libdems.org.uk/privacy">www.libdems.org.uk/privacy</a> To exercise your legal data rights, email: <a href="mailto:data.protection@libdems.org.uk">data.protection@libdems.org.uk</a>.</p>
                <p class="text-md-right">Published and promoted by James Belchamber on behalf of the Association of Liberal Democrat Engineers and Scientists, 8-10 Great George Street, London, SW1P 3AE.</p>
            </div>
        </div>
        <nav class="nav d-flex justify-content-center">
            <a class="pt-2 pr-2 text-secondary" href="https://www.libdems.org.uk/terms_conditions">Terms and Conditions</a>
            <a class="pt-2 pr-2 pl-2 text-secondary" href="https://www.libdems.org.uk/accessibility">Accessibility</a>
            <a class="pt-2 pr-2 pl-2 text-secondary" href="https://www.libdems.org.uk/privacy">Privacy and Cookies</a>
        </nav>

    </footer>
</div>