{% extends 'layouts/default.njk' %}

{% set title = post.title %}
{% set codeinjection_head = post.codeinjection_head %}
{% set codeinjection_foot = post.codeinjection_foot %}

{% block content %}
    <article class="blog-post">
        {% if post.feature_image %}
            <figure>
                <img class="img-fluid rounded" src="{{ post.feature_image }}" alt="{{ post.title }}"></img>
            </figure>
        {% endif %}
        <div class="row">
            <div class="col-xl-8">
                <h2 class="blog-post-title">{{ post.title }}</h2>
                {% set html = post.html.split('<hr>') %}
                {{ html[0] | safe }}
                {{ html[1] | safe }}
                <div class="comments-section">
                    <a name="comments"><h2>Comments</h2></a>
                    {% for comment_1 in post.comments[1]['data']['children'] %}
                    <strong>{{ comment_1['data']['author'] }}</strong>
                    <p>{{ comment_1['data']['body'] }}</p>
                    {% for comment_2 in comment_1['data']['replies']['data']['children'] %}
                    <strong>&nbsp&nbsp{{ comment_2['data']['author'] }}</strong>
                    <p>&nbsp&nbsp{{ comment_2['data']['body'] }}</p>
                    {% for comment_3 in comment_2['data']['replies']['data']['children'] %}
                    <strong>&nbsp&nbsp&nbsp&nbsp{{ comment_3['data']['author'] }}</strong>
                    <p>&nbsp&nbsp&nbsp&nbsp{{ comment_3['data']['body'] }}</p>
                    {% for comment_4 in comment_3['data']['replies']['data']['children'] %}
                    <strong>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ comment_4['data']['author'] }}</strong>
                    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ comment_4['data']['body'] }}</p>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% include "partials/sidebar.njk" %}
        </div>
    </article>
{% endblock %}

{%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ site.twitter }}">
    <meta name="twitter:creator" content="{{ post.primary_author.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ site.url + page.url }}">
    <meta name="twitter:title" content="{{ title }} – {{ site.title }}">
    <meta name="twitter:description" content="{{ html[0] | safe }}">
    <meta name="twitter:image" content="{{ post.feature_image }}">

    <!--Schema-->
    <link rel="author" href="{{ post.primary_author.website }}">
    <link rel="publisher" href="{{ site.url }}">
    <meta itemprop="name" content="{{ title }} – {{ site.title }}">
    <meta itemprop="description" content="{{ html[0] | safe }}">
    <meta itemprop="image" content="{{ post.feature_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ site.url + page.url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} – {{ site.title }}">
    <meta property="og:image" content="{{ post.feature_image }}">
    <meta property="og:description" content="{{ html[0] | safe }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:locale" content="{{ site.lang }}">
    <meta property="article:author" content="{{ site.url }}">
{%- endblock -%}
