---
title: About
---
{% extends 'layouts/default.njk' %}

{% block content %}
<div class="blog-post">
    <figure>
        <img class="img-fluid rounded pb-2" src="{{ site.url }}/assets/images/about-us.jpg" alt="About us"></img>
    </figure>
    <div class="row">
        <div class="col-xl-8">
            <h2 class="blog-post-title">About us</h2>
            <p>justLiberals is a fledgling organisation of Liberals that believe things can be done better.</p>
            <p>Get in touch: <a href="mailto:hello@justliberals.org.uk">hello@justliberals.org.uk</a></p>
        </div>
        {% include "partials/sidebar.njk" %}
    </div>
</div>
{% endblock %}
