---
title: Error
permalink: error.html
---
{% extends 'layouts/default.njk' %}

{% block content %}
<div class="blog-post">
    <figure>
        <img class="img-fluid rounded pb-2" src="{{ site.url }}/assets/images/error.jpg" alt="About us"></img>
    </figure>
    <div class="row">
        <div class="col-xl-8">
            <h2 class="blog-post-title">Error</h2>
            <p>An error has occured, <a href="/">return home</a> to start over. If this keeps occuring then please <a href="mailto:hello@justliberals.org.uk">email us</a> so we can fix it.</p>
        </div>
        {% include "partials/sidebar.njk" %}
    </div>
</div>

{% endblock %}
