---
permalink: /.well-known/matrix/client
eleventyExcludeFromCollections: true
---
{
    "m.homeserver": {
        "base_url": "https://justliberals.ems.host"
    },
    "m.identity_server": {
        "base_url": "https://vector.im"
    }
}
