---
title: Newsletter validating
---
{% extends 'layouts/default.njk' %}

{% block content %}
<div class="blog-post">
    <figure>
        <img class="img-fluid rounded pb-2" src="{{ site.url }}/assets/images/newsletter_validating.jpg" alt="About us"></img>
    </figure>
    <div class="row">
        <div class="col-xl-8">
            <h2 class="blog-post-title">Validating..</h2>
            <p>Now please check your inbox for a confirmation email.</p>
        </div>
        {% include "partials/sidebar.njk" %}
    </div>
</div>

{% endblock %}
