justLiberals Weekly Briefing
============================
"Liberalism is trust of the people tempered by prudence. Conservatism is distrust of the people tempered by fear." ~ William Gladstone

Liberals in the news
--------------------
"Liberal Democrats put clean air at heart of offer for 6 May council polls" - The Independent
Liberal Democrats are to put clean air at the centre of their campaign for next month’s local elections, announcing plans for a £20bn fund to fight what leader Ed Davey described as the “invisible enemy” of pollution in England’s communities.
The cash would pump £5.5bn into new walking and cycling routes, £4.5bn into light rail and tram projects, £5bn for the expansion of bus routes and £2bn to convert bus fleets to hydrogen fuel.
Read more: https://www.independent.co.uk/news/uk/politics/local-elections-air-pollution-libdems-b1835975.html

"Willie Rennie calls for ‘gentler style of politics’ after brick incident" - The i
The leader of the Scottish Liberal Democrats has called for a “gentler style of politics” after a brick was thrown at a window of his party’s headquarters.
Willie Rennie said he hoped that regardless of the outcome of the election, the debate over key issues such as Scottish independence would be conducted in a “more civil fashion”.
Read more: https://inews.co.uk/news/scotland/scottish-election-2021-willie-rennie-calls-gentler-politics-after-brick-incident-964476

jL opinion and analysis
-----------------------
"Citizens’ Britain is the Core Narrative Liberals Need" - Ian Kearns and John Alexander
You often hear it said that the Liberal Democrats have lots of policy but no overarching narrative. That charge sticks because for too long it has been true. The party has allowed a dangerous vacuum to develop where a succinct articulation of its core philosophy should be. The preamble to the party constitution is a thing of beauty, but we need something even more direct.
Our proposal is that the Liberal Democrats should define a liberal society as one in which every single person has enough power, wealth, knowledge and freedom in their own hands to be able to shape their own destiny, working in community with others. The key characteristic of a liberal society is therefore the widespread distribution of economic, social and political power; its fundamental enemy the excessive and unaccountable concentration of such power in either the state, the private sector, or both.
Read more: https://www.justliberals.org.uk/citizens-britain-is-the-core-narrative-liberals-need/

"While schools seek compliance, employers demand disruption" - James Belchamber
"Our silent corridors, where we transition around the building in silence, and having our equipment out ready to go when we arrive at our next lesson - all just helps get us focused and keeps us in that working set of mind when we arrive in our lessons"
Ignore the dystopian chill that just ran down your spine  - just for a second. Ignore the inhumanity of expecting children to be silent in the small periods of free time between classes (socialising, one assumes, being limited to three "meals" a day). Just have a think.. 
..does anyone work like this?
Well, actually, yes - there is one class of worker that would be expected to work like this - but we're rapidly making them obsolete.
Read more: https://www.justliberals.org.uk/while-schools-seek-compliance-employers-demand-disruption/

Recommended by Liberals
-----------------------
"Why is the right obsessed with ‘defending’ borders? Because it sees citizenship as a commodity" - Daniel Trilling for The Guardian
“I know that the left and all the gatekeepers on Twitter become literally hysterical if you use the term ‘replacement’,” the Fox News host Tucker Carlson recently said on his show, “but they become hysterical because that’s what’s happening, actually.” By accusing the Democratic party of trying to “replace the current electorate” with “more obedient voters from the third world”, the prominent conservative commentator shows that while Donald Trump may have left the White House, Trumpism is alive and kicking.
Read more: https://www.theguardian.com/commentisfree/2021/apr/19/conservatives-citizenship-human-right-asylum-seekers-migrants-hong-kong

"The Road to Terfdom: Mumsnet and the fostering of anti-trans radicalisation" - Katie J. M. Baker for Lux Magazine
Nothing caused me greater culture shock when I moved from New York to London than the British media’s hysterical obsession with trans women.
I’d turn on the Today Programme, the BBC’s flagship morning news show, as I made my coffee and hear debates over whether trans women were actually just men who thought they were women. On the weekends, I’d read headlines in both the liberal Guardian and the conservative Daily Mail questioning whether trans women have the right to identify as women.
Read more: https://lux-magazine.com/article/the-road-to-terfdom/

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.