justLiberals Weekly Briefing
============================
"The essence of the Liberal outlook lies not in what opinions are held, but in how they are held: instead of being held dogmatically, they are held tentatively, and with a consciousness that new evidence may at any moment lead to their abandonment." ~ Bertrand Russell

jL opinion and analysis
-----------------------
"A Liberal education must be centred around the individual" - James Belchamber
In a previous article I was scathing about this government's approach to education - a regressive insistence on churning out compliant automatons while employers demand creative, self-directed and specialised workers. But in their approach is a logic - that learners all need to be calibrated to a common criteria. This plays out in a national curriculum - literally, everyone learning the same things at the same point in their lives - and comes with the values (uncritical obedience and an unwavering respect for authority) that are required of any system that tries to achieve this.
I no longer believe that should be our goal.
It would not surprise you to know that, as a Liberal, I believe everything starts with - and comes back to - individuals. But education should not just be focused on the individual based on an abstract idea - we need to ground it in the practicalities and intent of education.
So let me convince you of an alternative goal: a much expanded "national curriculum", that every learner progresses through at their own pace and in their own order - and that no one person should ever come close to completing.
Read more: https://www.justliberals.org.uk/a-liberal-education-must-be-centred-around-the-individual/

Recommended by Liberals
-----------------------
"The secret deportations: how Britain betrayed the Chinese men who served the country in the war" - Dan Hancox for The Guardian
On 19 October 1945, 13 men gathered in Whitehall for a secret meeting. It was chaired by Courtenay Denis Carew Robinson, a senior Home Office official, and he was joined by representatives of the Foreign Office, the Ministry of War Transport, and the Liverpool police and immigration inspectorate. After the meeting, the Home Office’s aliens department opened a new file, designated HO/213/926. Its contents were not to be discussed in the House of Commons or the Lords, or with the press, or acknowledged to the public. It was titled “Compulsory repatriation of undesirable Chinese seamen”.
As the vast process of post-second world war reconstruction creaked into action, this deportation programme was, for the Home Office and Clement Attlee’s new government, just one tiny component. The country was devastated – hundreds of thousands were dead, millions were homeless, unemployment and inflation were soaring. The cost of the war had been so great that the UK would not finish paying back its debt to the US until 2006. Amid the bombsites left by the Luftwaffe, poverty, desperation and resentment were rife. In Liverpool, the city council was desperate to free up housing for returning servicemen.
Read more: https://www.theguardian.com/news/2021/may/25/chinese-merchant-seamen-liverpool-deportations

"Dominic Cummings is right: herd immunity was always the government’s Plan A" - Philip Ball for Prospect Magazine
I’d not have put Dominic Cummings down as a masterful explainer, given his endlessly meandering blogs. And in his account to the House of Commons Science and Technology Committee on Wednesday, even he admitted that he is an unreliable witness. But his testimony should have made it very plain why he was absolutely correct to have tweeted in advance, regarding the government’s initial pandemic response plan, that “Herd immunity wasn’t ‘a secret strategy’, it was THE OFFICIAL PUBLIC EXPLAINED ON TV/RADIO STRATEGY!”
What’s troubling is that there was ever any confusion about this. Sure, Home Secretary Priti Patel told the BBC’s Andrew Marr on Sunday that it was “absolutely not” the initial plan (leading former Newsnight presenter Gavin Esler to tweet “I’m now struggling to decide which of these saintly figures to believe”). And sure, an inquiry to Downing Street reported by ITV’s Robert Peston on Monday drew the response that “Herd immunity was never the policy.” But are we going to doubt, say, that the first lockdown happened on 23rd March 2020 if the government denies it? (Believe me, Health Secretary Matt Hancock already tried that).
Read more: https://www.prospectmagazine.co.uk/science-and-technology/was-herd-immunity-the-government-plan-dominic-cummings-committee-coronavirus

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.