justLiberals Weekly Briefing
============================
"There is frequently more to be learned from the unexpected questions of a child than the discourses of men." ~ John Locke

Liberals in the news
--------------------
"MP calls for ministerial code to cover new party leaders to target Salmond's RT link" - The Herald
Liberal Democrat MP has called for the ministerial code to be extended to party leaders in a bid to hold Alex Salmond to account for his involvement with Russia Today.
Jamie Stone, MP for Caithness, Sutherland and Easter Ross, asked Michael Gove yesterday if he believed that the code should cover leaders of “new political parties who might possibly be receiving payments from the arms of overseas governments who don't hold dear to their heart the best interest of the United Kingdom”.
Read more: https://www.heraldscotland.com/news/19262849.mp-calls-ministerial-code-cover-new-party-leaders-target-salmonds-rt-link/

"Scotland's drug-deaths scandal: We need a government that's willing to take responsibility and not just blame Westminster – Christine Jardine MP" - The Scotsman
Accepting that she had, in her words, taken her eye off the ball, over the number of drug deaths in Scotland did not, I am sure, come across the way that she intended. Nevertheless it is out there now.
I suspect that Nicola Sturgeon meant it as a genuine acknowledgement that her government has not done enough and, if re-elected, will try harder. But, for many of us, it stung.
Read more: https://www.scotsman.com/news/opinion/columnists/scotlands-drug-deaths-scandal-we-need-a-government-thats-willing-to-take-responsibility-and-not-just-blame-westminster-christine-jardine-mp-3212504

"Why the Liberal Democrats are launching a campaign to Back British Farmers" - Farmers Guardian
British farmers have been let down by the Conservatives. They’ve been promised that British standards will not be undermined, yet this hasn’t been guaranteed in law. They’ve been promised that levels of funding will be maintained, yet the transition will see huge amounts of income lost.
And the Government is still expecting our farmers to be the stewards of our landscape, and work with us to cut emissions and help maintain and improve our natural environment – but if they’re not careful there won’t be any farmers left. Family farmers are the backbone of our countryside, and that’s why the Liberal Democrats are launching a campaign to ‘Back British Farmers.’
Read more: https://www.fginsight.com/blogs/why-the-liberal-democrats-are-launching-a-campaign-to-back-british-farmers

"Backing unionist progressives at Scottish election a chance to ‘rescue Britain from Boris’, former Lib Dems leader claims" - The Scotsman
Comparing the SNP to the Tories, Mr Farron claimed finding a way to combat Scottish nationalism would create a “movement” able to win against its English counterpart in 2024.
Speaking to The Scotsman, Mr Farron criticised the ideologies of both administrations, adding he was “deeply concerned about the ongoing division mooted and stirred” by the SNP. He continued: “The problem is when you get into the politics of the flag, people will forgive you anything and everything.
Read more: https://www.scotsman.com/news/politics/backing-unionist-progressives-at-scottish-election-a-chance-to-rescue-britain-from-boris-former-lib-dems-leader-claims-3220734

jL opinion and analysis
-----------------------
"White supremacy, and silencing your opposition: why are the Tories embracing fascist ideas?" - James Belchamber
On Wednesday an opposition political banner was taken down in Stanway, Essex, on the orders of Kevin Bentley, the Conservative deputy leader of Essex County Council. Kevin says he "reported" it but didn't specifically "order" for them to be taken down - in the same way that your boss might tell you about a problem but not specifically demand you fix it. This silencing of opposition is.. well, fascist in nature.
Don't squirm - that's the word for it. It's also not the only instance - the Scottish Conservatives also slipped "14 words" into a Tweet about IndyRef, a famous dog-whistle designed to signal support for white supremecy that has been repeated uncritically by news outlets. If there were any indication that the Conservative Party has now embraced populist nationalism, with all the fascist-inspired excesses that come along for the ride, this should be what awakens us to it. But why are the Tories embracing fascist ideas?
Read more: https://www.justliberals.org.uk/white-supremacy-and-silencing-your-opposition-why-are-the-tories-embracing-fascist-ideas/

Want to write for justLiberals? Why not send us over your article idea: submissions@justliberals.org.uk

Recommended by Liberals
-----------------------
"Green gains in red-brick England" - Ben Walker for the New Statesman
Harry Gorman is a 20-year-old student at the University of Chester. Two years ago, the day after finishing an A-level exam, he was told by the local Green Party that he was going to be their council candidate for Prenton, Birkenhead, on the Wirral peninsula.
On 6 May he’ll be standing for a seat that Labour won with 60 per cent of the vote the last time it was up for election in 2016.
Gorman’s chances of winning look better than you might expect. From 2003 (when the current boundaries were introduced) until 2010, the ward trended Liberal Democrat. In the past decade it has shifted to become a safe Labour seat. But in 2019, amid the parliamentary chaos of Brexit and a surge in support for the smaller parties, a Green candidate won one of its three local council seats on a significant swing.
Read more: https://www.newstatesman.com/politics/polling/2021/04/green-gains-red-brick-england

"The battle for space is about to heat up" - Tim Marshall for Prospect Magazine
Westphalia in space? It’s not going to fly. When the great powers signed the treaties of Westphalia in 1648, they created a system in which sovereign states recognized each other’s borders and agreed not to change them or to interfere in each other’s domestic affairs. One thing they didn’t have to bother agreeing on was the question of how high up those borders had to extend. Almost 400 years later we do—but we haven’t managed it yet.
It’s one of many questions that have become pressing as a golden age of space exploration beckons over the limitless horizon. Can anyone “own” space? By what law can you say a state cannot position a laser-armed satellite above your country or begin mining on the Moon?
Read more: https://www.prospectmagazine.co.uk/politics/the-battle-for-space-is-about-to-heat-up

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.