justLiberals Weekly Briefing
============================
"Reality has a well-known liberal bias." ~ Stephen Colbert

Liberals in the news
--------------------
"Catch-up: 'Did the right man resign?' Williamson asked" - TES News
"Sir Kevan Collins has a distinguished 30-year career in education, while the secretary of state has spent 18 months presiding over nothing but blunders.
"So does the secretary of state think that the right man resigned?"
It certainly won't have been Gavin Williamson's favourite question of the afternoon.
But there was no running from the killer line delivered by Lib Dem deputy leader Daisy Cooper, which was just one of a series of scathing comments about last week's catch-up announcement.
Read more: https://www.tes.com/news/catch-did-right-man-resign-williamson-asked

"Being a carer is "way harder" than being in Cabinet, admits Ed Davey" - The Express
Sir Ed Davey does not hesitate when asked whether it is harder to be a cabinet minister or a carer. Caring is "way harder".
The former secretary of state for energy and climate change speaks from experience. As a schoolboy he cared for his terminally ill mother, bringing her morphine and helping her use the bathroom. Today he is the proud dad of John, a 13-year-old with a brain condition which means he struggles to talk and needs help to walk. When Sir Ed sat at the cabinet table he had an army of civil servants at his command. But when he and his “amazing” wife, Emily, get John up in the morning and put him to bed at night they, like fellow carers across the nation, are motivated by love and rely on their own strength.
Read more: https://www.express.co.uk/news/politics/1448938/britain-care-cabinet-minister-carer-sir-ed-davey

jL opinion and analysis
-----------------------
"Ownership for all" - William Francis
One of the most glaring contradictions of British politics is the increasing attention paid to economic inequality by academics and the public, whilst decisions made by the central government do little to address this problem and actively make it worse. I suspect this has to do with wealth inequality being framed as an abstraction; something to be vaguely 'tackled' rather than a clear narrative about how policy should improve the lived experiences of ordinary people. A positive Liberal case for mass ownership could be the remedy to this problem.
Liberals have long seen property as fundamental for creating liberty. For the Liberal MP Hilaire Belloc, this chiefly meant promoting ownership of small landholdings and stakes in co-operative enterprises. This was a cornerstone of Distributism, a proposed alternative to what Belloc saw as the collectivist ideologies of socialism and capitalism. That ideology was highly influential among the Unservile State group, who saw property as a form of economic security independent of employment or state welfare, with the Liberal Parliamentary candidate Ramsay Muir, arguing that 'liberty will be strengthened by the almost universal possession of "a bit of property" '.
Read more: https://www.justliberals.org.uk/ownership-for-all/

Want to write for justLiberals? Why not send us over your article idea: submissions@justliberals.org.uk

Or why not join us on our Discord? https://discord.gg/mKwBdxvt

Recommended by Liberals
-----------------------
"Like we were enemies in a war" - A report by Amnesty International
Since 2017, the government of China has carried out massive and systematic abuses against Muslims living in the Xinjiang Uyghur Autonomous Region (Xinjiang). The human suffering has been immense. Huge numbers of men and women from predominantly Muslim ethnic groups have been arbitrarily detained and sent to internment camps or prison. The internment camp system is part of a larger campaign of subjugation and forced assimilation of ethnic minorities in Xinjiang.
From late 2019 to mid 2021, Amnesty International has been investigating these abuses. On 10 June Amnesty published a report based on new first-hand testimonies gathered from former detainees of the internment camps and other people who were present in Xinjiang after 2017, as well as from an analysis of satellite imagery and data. The report provides the most comprehensive account ever of life inside the internment camps. The evidence Amnesty International has gathered provides a factual basis for the conclusion that the Chinese government has committed at least the following crimes against humanity: imprisonment, torture, and persecution.
The government’s abuses are ongoing. Large numbers of people are still arbitrarily detained in Xinjiang. Moreover, the government has devoted tremendous resources to concealing the truth about its actions. It prevents millions of people living in Xinjiang from communicating freely about the situation and denies journalists and investigators meaningful access to the region. People living abroad are often unable to obtain information about family members in Xinjiang who are missing and presumed to be detained.
This website presents the evidence gathered by Amnesty’s investigation. This includes the full report as well as detailed information about 60 cases of missing or detained persons..
Read more: https://xinjiang.amnesty.org/

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.