justLiberals Weekly Briefing
============================
"This is my country, that is your country; these are the conceptions of narrow souls - to the liberal minded the whole world is a family" ~ Virchand Gandhi

Liberals in the news
--------------------
"Chesham and Amersham byelection will be test of Tory retreat in south" - The Guardian
The Liberal Democrats aim to use next month’s Chesham and Amersham byelection to test the extent of disillusionment with the Conservatives in southern commuter belt seats, Ed Davey has said – even if victory is still seen as a long shot.
While there has been much focus about Tory gains in former Labour heartlands, this month’s local elections highlighted an apparent retreat for the party in more prosperous areas in the south of England and around London.
On 17 June, voters in Chesham and Amersham will select a new MP to replace Cheryl Gillan, who died in April, in a Buckinghamshire constituency which has never seen the Conservatives win less than 50% support since it was created in 1974.
Read more: https://www.theguardian.com/politics/2021/may/24/lib-dems-chesham-and-amersham-byelection-will-be-test-of-tory-retreat-in-south

"Brexit: Rows with EU over fish threatening deal for finance sector, warn Lib Dems" - The Independent
The UK’s massive financial services sector risks becoming a victim of post-Brexit wrangling over fish, Boris Johnson’s chief negotiator has been warned.
In a letter to David Frost, Liberal Democrat Treasury spokesperson Christine Jardine warned that thousands of jobs are at risk if an agreement on “equivalence” is held up by the row over access to fishing waters around Jersey.
A French government source was last week quoted as saying that Paris will delay a financial services deal with Britain until Mr Johnson grants fair access to UK waters for European fishermen. The comment came after the UK sent Royal Navy gunboats to see off an attempted blockade of Jersey by angry French trawlermen.
Read more: https://www.independent.co.uk/news/uk/politics/brexit-fish-financial-services-jardine-b1848382.html

jL opinion and analysis
-----------------------
"We need Climate Freedom, NOW" - Rob Davidson
As a child of the 80's, the environment was constantly on my mind. We had the hole in the Ozone Layer, letting in the sun's rays and giving people cancer. As a Cub Scout, I helped manually crush drinks cans for the apparently new concept of recycling. There was the growing Greenhouse Effect, of course, and in fevered dreams I imagined a mushroom cloud bloom over Chernobyl. Between the Cold War and Climate Change, youthful thoughts about the future were sometimes bleak to say the least.
For the youth of today, things are far worse. Ignore for a moment the looming Cold War with China, Russia and a new wave of 'illiberal democracies' and take a look at the environment. What we once called Global Warming and then called Climate Change is now the Climate Emergency.
School children and other young people are showing signs of 'climate anxiety'. Mental health is suffering because of this crisis. There is some evidence that climate scientists are suffering from 'despair' and feelings of 'hopelessness' and that, surely, cannot be a good sign.
Read more: https://www.justliberals.org.uk/we-need-climate-freedom/

Want to write for justLiberals? Why not send us over your article idea: submissions@justliberals.org.uk

Or why not join us on our Discord? https://discord.gg/tBz3z9BQ

Recommended by Liberals
-----------------------
"Labour’s problem is not the Red Wall – it’s the Grey Wall" - "Rick", for Flip Chart Fairy Tales
The Labour Party is in danger of losing its nerve again. Ten years ago, the story that Labour spent all the money and caused the country’s massive debt was allowed to go unchallenged. The Labour Party, paralysed by the shock of the election, failed to fight back. By the time the party had recovered its composure and started to challenge the narrative of fiscal incompetence it was too late. No-one was listening.
This time the story that is going unchallenged is that Labour has lost the support of the working class. Worse still, the Conservatives are becoming the party of the working class. The great class inversion is the story of the moment. When even Keir Starmer says that Labour has lost the trust of the working class, well, it must be true, mustn’t it? Since the elections earlier in May, Labour has collapsed in the opinion polls. Of course it has. The story has become self-fulfilling.
Read more: https://flipchartfairytales.wordpress.com/2021/05/21/labours-problem-is-not-the-working-class-its-the-grey-wall/amp/

"How Manizha Breaks Down the Walls of Identity Construction" - Naima Muminiy for The Oxus Society
Manizha, a Tajik-Russian singer representing Russia in this year’s Eurovision, has made headlines for her outspoken views for progressive social causes such as feminism, refugee rights, and LGBT+ rights.  Despite winning the popular vote for her entry into Eurovision, she has faced heavy criticism by Russian nationalists and politicians who claim she is not Russian enough due to her ethnic Tajik background. Her Eurovision entry titled “Russian Woman” has caused additional controversy, with some claiming that it is a declaration of war against Russian traditionalism.  This outrage has even led to the potential involvement of law enforcement on the basis of the song inciting hatred towards Russia and threatening Russian values. However, others have taken to the social media to claim that she is neglecting her Tajik identity by framing herself as a Russian woman.
Read more: https://oxussociety.org/how-manizha-breaks-down-the-walls-of-identity-construction/

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.