justLiberals Weekly Briefing
============================
"I am a Liberal because Liberalism seems to mean faith in the people, confidence that they will manage their own affairs far better than those affairs are likely to be managed for them by others" ~ Millicent Fawcett

Liberals in the news
--------------------
"Universal basic income could be our generation's NHS - a new model for welfare state" - The Mirror
We are living in unprecedented times. The problems we face now are ones which demand very different, and potentially more far reaching, solutions than anything the country has experienced since the end of the second world war. But that moment is the one from which, I believe, we should be taking our inspiration. Now more than ever we are all seeing clearly how easily any of us could find ourselves needing support. And finding none. Sadly we are learning that the welfare state which has served us so well for seven decades is not equipped for our new reality.
Over the past few months I have spoken to too many people for whom the many Government schemes offering furlough, business grants, support for the self-employed simply do not provide. This destructive coronavirus makes no exceptions in who it attacks, and yet our Government has been unable to say the same about who it supports. I know that is a mammoth task but we have to find a way. We cannot lose sight of the question so many people face of how do they feed their family, keep a roof above their heads when they are simply told: “You do not qualify.”
Read more: https://www.mirror.co.uk/news/politics/universal-basic-income-could-generations-22731908

"Wera Hobhouse MP: These Tory plans to change the voting system are a power grab" - Left Foot Forward
Having grown up in Germany, with a voting system that delivers both responsiveness to the voters and stability, I have been campaigning for electoral reform in the UK for many years now. What I can tell you is that Britain needs less First Past the Post (FPTP), not more. This week marked the start of a new term of parliament. It should be an opportunity for forward thinking politics, not the disastrous, backward step for democracy that more elections by FPTP will create. But the back-door move that Home Secretary Priti Patel slipped in during the last parliamentary session seeks to change the current mayoral and police and crime commissioner (PCC) voting system to past-its-sell-by-date First Past The Post. This is an attack on our democracy which should not go unnoticed.
I’m not here to defend the supplementary voting system used last week to elect mayors and PCCs. Voters were asked to express first and second choices and if no candidate got 50% of the first-choice votes, candidates apart from the top two were eliminated. So in Cambridgeshire and Peterborough for example, that meant the new metro mayor went to the Labour candidate, based on second round preferences. But moving to FPTP would be so much worse.
Read more: https://leftfootforward.org/2021/05/wera-hobhouse-mp-why-plans-to-change-the-voting-system-for-pcc-and-mayoral-elections-are-an-attack-on-our-democracy/

jL opinion and analysis
-----------------------
"Liberal Messaging in a Post-Brexit Britain" - Joe Norris
For the Liberal Democrats, the polling-heights of 2019 and the lows of 2021 can easily be chalked up as the before and after effects of Brexit, which has come to dominate so much of our political discourse. But with the Greens rising as a challenger to the mantle of progressive third party during the local elections, a moment of reflection must come for the party’s messaging.
In 2019, the Liberal Democrats showed the public a hard, clear and distinct view towards Brexit in their vocal and unified opposition to it. In many ways, the anti-Brexit stance was a perfect embodiment of Liberal values and what the Liberal Democrats had been striving for as a party;  rejecting nationalism, encouraging international cooperation, maintaining local devolution, committing to and expanding personal freedoms to live and work where you want.  Voters could build a subtractive picture of who we were with little effort on our part; even if you didn't know what we were for, you certainly knew what we stood against. By sticking to our principles, the party enjoyed the highest rating in the polls it had seen in nearly a decade, and a considerable boost in membership.
Read more: https://www.justliberals.org.uk/liberal-messaging-in-a-post-brexit-britain/

"Patriotism is Liberal, Johnson's nationalism is not" - Rob Davidson
Since Brexiters told the country to BeLEAVE in Britain there has been a strong line on a particular type of patriotism in British politics. Boris Johnson has exemplified this as Prime Minister and Labour, in desperation to win back the 'Red Wall' constituencies, has attempted to 'embrace the flag' and to match Johnson's brand of patriotism. Liberals on the other hand are known for internationalism, welcoming migrants and eschewing borders in a bid to find a way to connect and work with our fellow man/woman no matter where they were born. But, does that mean Liberals can't be patriots?
At its heart, patriotism stems from a shared experience, shared values and shared priorities that we naturally develop when we grow up together, work alongside each other and live, love and die together. It's the stuff of trades unions, co-operatives and ... Liberalism.
Read more: https://www.justliberals.org.uk/patriotism-is-liberal-johnsons-nationalism-is-not/

Recommended by Liberals
-----------------------
"How Extremists Weaponize Irony To Spread Hate" - Tom Dreisbach for NPR Investigations
On a recent episode of his livestreamed show, the 22-year-old extremist Nick Fuentes repeated a formula that has won him a following with some of the youngest members of the far right. He went on an extended, violent and misogynistic rant, only to turn to the camera and add with a smirk, "Just joking!"
-- We felt this was a really valuable article, and should be shared. However, it has relatively stark and graphic discussion of domestic violence from the outset which may be unsettling (or at least unexpected). This then expands to more general far-right targets (racism, antisemitism, etc). Please click through to read --
Read more: https://www.npr.org/2021/04/26/990274685/how-extremists-weaponize-irony-to-spread-hate

"Cruel, paranoid, failing: inside the Home Office" - Daniel Trilling for The Guardian
For the thousands of people who end up on the wrong side of the Home Office each year, there is often a sudden moment of disbelief. This can’t be happening, people tell themselves. They can’t do this, can they?
For Ruhena Miah, a sales assistant born and raised in the West Midlands, this moment came when she received a letter saying that if she wanted to marry the man she loved, she would have to move to Bangladesh. For Tayjay Thompson, a young man convicted of a drugs offence when he was 17, it was when he was told he would be deported to Jamaica, a country he’d left as a toddler. For Monique Hawkins, a Dutch software engineer, it was when her application for a residency permit was rejected, despite the fact she had lived in the UK for 24 years. For Omar, a refugee from Afghanistan (who asked me not to use his real name), it was when he stepped off the plane at Heathrow and discovered that he was being taken to a building that looked to him very much like a prison.
Read more: https://www.theguardian.com/politics/2021/may/13/cruel-paranoid-failing-priti-patel-inside-the-home-office

"Why London needs ‘levelling up’ too" - Jack Brown for politics.co.uk
Regional inequalities in the UK are stark. The gap between London and the rest of the UK has been growing for decades, and seemed set to continue to do so until the pandemic hit. This gap between ‘London and the rest’ is desirable for neither capital nor country. London’s dominance leads to spiralling housing costs, congestion and pollution – not to mention national resentment. And the appeal of a more geographically balanced economy to those parts of the country often now described as ‘left behind’ is obvious.
But there are two important things to bear in mind about the capital as the ‘Levelling Up’ agenda takes shape. Firstly, that London and its surrounding regions are vital to the UK economy’s ability to raise the tax that will pay for ‘levelling up’. And so this must be a case of helping other parts of the UK, rather than harming London. Secondly, there are many less affluent Londoners who need ‘levelling up’ just as much as their counterparts elsewhere in the country. This must not be forgotten.
Read more: https://www.theguardian.com/politics/2021/may/13/cruel-paranoid-failing-priti-patel-inside-the-home-office

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.