justLiberals Weekly Briefing
============================
"The price of liberty is eternal watchfulness, because when men get power into their hands they nearly always abuse it." ~ Ramsay Muir

Liberals in the news
--------------------
"Tories’ Culture War Going Down Like A ‘Lead Balloon’ In ‘Blue Wall’" - Huffington Post
Boris Johnson’s so-called “culture war” is turning off voters in southern Tory seats, a senior Liberal Democrat said on the eve of a key by-election result.
Munira Wilson told HuffPost UK that foreign aid cuts and some MPs’ support for those who boo England players taking the knee were going down “like a lead balloon” in the so-called “blue wall” of Tory seats.
Her comments came as voters went to the polls in Chesham and Amersham on Thursday, which the Lib Dems are hoping to win from the Tories for the first time ever.
Read more: https://www.huffingtonpost.co.uk/entry/tories-libdems-byelection-culture-war_uk_60cb64b4e4b05fb35761894e

"The Lib Dems have shown the Conservatives they can’t have it all their own way – but there is work to do" - The Independent
Until now, a narrative had developed around British politics that seemed very plausible after the Hartlepool by-election and earlier Conservative successes in the Midlands and north.
The story went that the Conservatives now had an unassailable dominance of British politics, and was based on three assumptions: that the inroads they had made in traditional “red wall” Labour-voting areas, and among what used to be called the “working class”, had become permanent; that Labour had been eliminated as a serious force in Scotland; and that the party could retain the support of relatively affluent, as well as older, voters in both suburban and rural areas.
Read more: https://www.independent.co.uk/voices/boris-johnson-lib-dems-win-labour-b1869349.html

jL opinion and analysis
-----------------------
"There is no such thing as ethical capitalism" - James Belchamber
Knives are an inseparable part of everyday life. We use them when cooking, we use them at work. Every day, millions use their nearest knife to open boxes, packages and letters. Just have a think about how many knives are in your house right now.
We also know that knives can be used for great evil; something communities have struggled with for.. well, forever. The solution? Regulation.
Regulation of knives is mostly uncontroversial - as a society, we mostly accept that a chef can carry very sharp and dangerous knives between home and work, but we expect them to travel directly between those places (and we enforce that expectation). Knives for general carry are limited in length and in the way they lock - outside of this, you need a specific reason. Some bemoan this, but generally it's agreed that the liberty of.. well, living - outweighs the infringement on liberty of needing a reason to carry about a dangerous weapon.
The message is clear - knives are a tool, they can cause a lot of harm, and we do not rely on owners of knives to be benevolent and ethical in their ownership, storage and operation of knives. We regulate knives, and the owners of knives, in the pursuit of better outcomes - not banning them, but very clearly setting out rules based on avoiding harm and promoting freedom.
But with capitalism - and, more generally, free markets and commercial enterprise - some have bought into the myth that there is an "ethical" variant we can nurture and trust.
Read more: https://www.justliberals.org.uk/there-is-no-such-thing-as-ethical-capitalism/

Want to write for justLiberals? Why not send us over your article idea: submissions@justliberals.org.uk

Or why not join us on our Discord? https://discord.gg/Kbgerha8

Recommended by Liberals
-----------------------
"Buckingham Palace banned ethnic minorities from office roles, papers reveal" - David Pegg and Rob Evans for The Guardian
The Queen’s courtiers banned “coloured immigrants or foreigners” from serving in clerical roles in the royal household until at least the late 1960s, according to newly discovered documents that will reignite the debate over the British royal family and race.
The documents also shed light on how Buckingham Palace negotiated controversial clauses – that remain in place to this day – exempting the Queen and her household from laws that prevent race and sex discrimination.
The papers were discovered at the National Archives as part of the Guardian’s ongoing investigation into the royal family’s use of an arcane parliamentary procedure, known as Queen’s consent, to secretly influence the content of British laws.
They reveal how in 1968, the Queen’s chief financial manager informed civil servants that “it was not, in fact, the practice to appoint coloured immigrants or foreigners” to clerical roles in the royal household, although they were permitted to work as domestic servants.
Read more: https://www.theguardian.com/uk-news/2021/jun/02/buckingham-palace-banned-ethnic-minorities-from-office-roles-papers-reveal

"The efforts to make text-based AI less racist and terrible" - Khari Johnson for Ars Technica
In July 2020, OpenAI launched GPT-3, an artificial intelligence language model that quickly stoked excitement about computers writing poetry, news articles, and programming code. Just as quickly, it was shown to sometimes be foulmouthed and toxic. OpenAI said it was working on fixes, but the company recently discovered GPT-3 was being used to generate child porn.
Now OpenAI researchers say they’ve found a way to curtail GPT-3’s toxic text by feeding the program roughly 100 encyclopedia-like samples of writing by human professionals on topics like history and technology but also abuse, violence, and injustice.
OpenAI’s project shows how the tech industry is scrambling to constrain the dark side of a technology that’s shown enormous potential but also can spread disinformation and perpetuate biases. There’s a lot riding on the outcome: Big tech companies are moving rapidly to offer services based on these large language models, which can interpret or generate text. Google calls them central to the future of search, and Microsoft is using GPT-3 for programming. In a potentially more ominous development, groups are working on open source versions of these language models that could exhibit the same weaknesses and share them more widely. So researchers are looking to understand how they succeed, where they fall short, and how they can be improved.
Read more: https://arstechnica.com/science/2021/06/the-efforts-to-make-text-based-ai-less-racist-and-terrible/

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.