justLiberals Weekly Briefing
============================
"In the modern age where everything is connected to everything, the most important thing about what you can do is what you can do with others." ~ Paddy Ashdown

Liberals in the news
--------------------
"Tory ‘Blue Wall’ in south starting to crumble, claim Liberal Democrats" - The Independent
After Boris Johnson smashed the traditionally Labour “Red Wall” in the Midlands and north of England, there were claims today that the Conservative “Blue Wall” in the south may be starting to crumble. Liberal Democrats said they had their eyes on a number of traditionally true blue parliamentary seats after gaining councillors from Tories across the south and east of England.
And in a further sign of shifting electoral patterns, Labour and Greens also picked up handfuls of seats in Conservative heartlands like East and West Sussex, Surrey and Kent. The results appeared to give some support to theories that Conservatives are losing support in some traditional strongholds, due both to opposition to Brexit in parts of the south and to graduates and young professionals moving into the home counties to escape high property prices in London.
Read more: https://www.independent.co.uk/news/uk/politics/tories-blue-wall-libdems-elections-b1844587.html

"Lib Dems and Greens enjoy resurgence after picking up string of Labour and Tory council seats" - The Daily Mail
The Liberal Democrats and Greens put in a strong performance last night as they picked up a string of Labour and Conservative council seats. The Lib Dems made gains across the country, including in at least one Brexit stronghold. This will be welcome news to leader Sir Ed Davey after the party’s poor performance in the last general election, when then leader Jo Swinson lost her seat.
The smaller parties were forecast to take more seats today. The Lib Dems deprived the Tories of overall control of Cambridgeshire County Council, winning five seats. In Brexit-voting Sunderland, they took four from Labour, while in Sheffield they and the Greens helped deprive Labour of overall control. In Stockport, the Lib Dems became the largest party, with a one-seat advantage over Labour. They will probably form a minority administration.
Read more: https://www.dailymail.co.uk/news/article-9555833/Lib-Dems-Greens-enjoy-resurgence-picking-string-Labour-Tory-council-seats.html

Recommended by Liberals
-----------------------
"Ballots, butts and Battlestar Galactica - ten years on from the AV referendum" - James Graham for his blog, Quaequam
Tomorrow marks the 10th anniversary of the AV referendum, and I felt I should mark the date somehow. For me, the AV referendum was the event that finally broke me, in terms of my political career. It’s possible that if I hadn’t had such an awful experience being involved in Yes to Fairer Votes I would have burned out and quit anyway, but it wasn’t so much the straw that broke the camel’s back as it was the wrecking ball.
It’s a date which has been largely ignored, save for a single a documentary on Radio 4’s Archive series by Chris Mason. You can read my own contemporary account of what happened in my article for Liberator Magazine (issue 346) and my follow up review of Don’t Take No For An Answer by Ken Ritchie and Lewis Baston. I don’t especially recognise the person who wrote those articles; my life is very different now. After quitting the Lib Dems in 2012 and taking voluntary redundancy from Unlock Democracy in 2013, I had a breakdown, went through a period of long term depression and finally found myself in my current career, selling tabletop games in my local game shop. I’ve occasionally dipped a toe back into politics and campaigning since, but it hasn’t stuck and, if anything, merely served to remind me that I’m better off out of it.
But I do have a few observations about the whole affair, which I thought I would try to summarise here.
Read more: http://www.theliberati.net/quaequamblog/2021/05/04/ballots-butts-and-battlestar-galactica-ten-years-on-from-the-av-referendum/

"How systemic racism affects general practice" - Nicola Merrifield and Emily Stearn for Pulse Today
‘We no longer see a Britain where the system is deliberately rigged against ethnic minorities. The impediments and disparities do exist, they are varied, and ironically very few of them are directly to do with racism.’ This statement comes from the controversial Government-commissioned Sewell report1, whose remit was to investigate race and ethnic disparities in the UK in the wake of Black Lives Matter protests. Its publication in March led to widespread alarm, including among health leaders and campaigners.
‘There is clearly an attempt to diminish the impact of racism,’ says Manchester GP Professor Aneez Esmail, a leading expert on racism in the NHS. The statement, from report chair Tony Sewell, looks even more poorly judged in the light of the pandemic. GPs have seen a disproportionately high number of patients and colleagues from black, Asian and minority backgrounds die from Covid-19.
The Office for National Statistics found that in England and Wales, males of black African ethnic background had the highest rate of death involving Covid-19 – 2.7 times higher than white males. All ethnic minority groups other than Chinese had a higher rate than the white ethnic population, for both males and females. Tragically, 16 practising GPs have died with Covid – all but three of them from a BAME background. These health outcomes may be down to a mix of structural and biological reasons and it is likely to take years to develop a full picture.
Read more: https://www.pulsetoday.co.uk/analysis/cover-feature/how-systemic-racism-affects-general-practice/

----------

Feedback? Email us: hello@justliberals.org.uk (Subject: Weekly Briefing)

You were sent this email because you signed up for the justLiberals weekly briefing. To unsubscribe use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.