---
title: What is Liberalism?
---
{% extends 'layouts/default.njk' %}

{% block content %}
<div class="blog-post">
    <figure>
        <img class="img-fluid rounded pb-2" src="{{ site.url }}/assets/images/what-is-liberalism.jpg" alt="John Bull vs the King"></img>
    </figure>
    <div class="row">
        <div class="col-xl-8">
            <h2 class="blog-post-title">What is Liberalism?</h2>
            <p>As a long-standing political philosophy, Liberalism has been picked up by many people over the years - and many people have had ideas on how to achieve it. This has had the side-effect of muddying what Liberalism <i>is</i> with what Liberals (and people purporting to be Liberals) believed and have done. With this in mind, it's worth setting the record straight on what Liberalism is - and what it is not.</p>
            <h3>Can you start with a definition?</h3>
            <p>Sure. The justLiberals community have put together this definition:</p>
            <blockquote>Liberalism is about extending every possible freedom to everyone in society, only restricting specific freedoms to achieve more, or more equal, freedom overall.</blockquote>
            <p>Simple, huh?</p>
            <h3>Maybe a bit too simple..</h3>
            <p>Hah! Well, Liberalism is actually a pretty simple ideology: Liberals start from the position that an individual should be totally and unreservedly free to do whatever they like. Now, if we take that individual and place them in a world with nothing and nobody else, there's nothing else to do - that person is free, job done.</p>
            <p>In practice, things get a little bit more murky; individuals do not live in isolation - they live in a society, born to parents and raised by guardians, active in one or many communities. All of these individuals need to have <i>some</i> restrictions on their freedom, simply to ensure that they don't themselves infringe on each others freedoms.</p>            <p>Liberals do not shy from this problem; many great thinkers have tackled it with ideas ranging from the <a href="https://en.wikipedia.org/wiki/Harm_principle">Harm Principle</a>, through <a href="https://en.wikipedia.org/wiki/Social_justice">Social Justice</a>, to the <a href="https://en.wikipedia.org/wiki/Paradox_of_tolerance">Paradox of Tolerance</a>.</p>
            <p>But, underlying all this is a very simple idea; you are a Liberal if you believe that everyone should be free to do anything that doesn't restrict other people's freedoms.</p>
            <h3>Doesn't this all sound like Libertarianism? What's the difference?</h3>
            <p>Libertarians start from a very similar place - individual freedom - but from there we have landed up in very different places.</p>
            <p>Libertarians, in common with early Liberals, consider the government to be the primary opponent of freedom; as such, it must be minimised so that it does not (and cannot) interfere in people's lives. However, they tend to either reject the possibility that non-state actors could infringe on freedom - or consider that to be legitimate exercise of their freedom.</p>            <p>A Libertarian would say that a Liberal world has too many restrictions; a Liberal would wonder why a Libertarian would want to be free to do things that restrict other people's liberty.</p>
            <h3>Does that mean Liberalism is more compatible with Socialism?</h3>
            <p>Yes! Liberalism and Socialism, though seeking to do different things, can be entirely compatible. Indeed, many Socialists in practice care more about the things they have in common with Liberals (Civil Liberties, for example) than the social ownership of capital that's central to their philosophy.</p>
            <p>It could be argued that Liberalism and Social Democracy, both philosophies that have been strongly influenced by the discovery of Social Justice, have become two names for the same thing - in the UK the Liberal Democrats is a merger of Social Democrats and Liberals under the same party, and many Social Democrats have taken on Liberal identity as a way of distancing themselves from forms of Socialism that are distinctly illiberal (though it is worth noting that many Liberals and Social Democrats would define their ideology as distinct from each other).</p>
            <h3>Is Neoliberalism Liberal?</h3>
            <p>Not really - although many people calling themselves Neoliberal <i>are</i> Liberal, "Neoliberalism" has in effect taken the ideas of (some) early Liberals out of the context of their time and made those (instead of equitable freedom) the centre of the ideology.</p>
            <p>Neoliberalism is an ideology focused around transfer of power from the public sector to the private sector, drawing on the <i>laissez-faire</i> economic ideas of early Liberals (who lived in the context of an almost totally powerful state) and discarding the discovery of Social Justice. It takes a market fundamentalist approach to freedom - believing (often against evidence) that freeing markets and increasing trade always leads to good outcomes (or that the outcomes of doing so must be good). Neoliberals 
            <p>Many Liberals support free markets and other ideas espoused by Neoliberals, but the point is freedom for people - Liberals are not seeking the greater and more equitable freedom of shipping containers.</p>
            <h3>What if I have a question that's missing from this faq? What about if I disagree with your definition?</h3>
            <p>Feel free to reach out to us by email - <a href="mailto:hello@justliberals.org.uk">hello@justliberals.org.uk</a></p>
            <h3>..who are you to define what Liberalism is?</h3>
            <p>Just a group of Liberals :)</p>
        </div>
        {% include "partials/sidebar.njk" %}
    </div>
</div>
{% endblock %}
