Please verify your subscription to the justLiberals newsletter! Copy and paste the following link into your browser:

{{ validation_path }}

Thank you!

You were sent this email because somebody entered your email address into our newsletter sign-up form. If this was not you then please feel free to ignore this email - no further action is necessary. If you would like to explicitly unsubscribe, please use the following link:

{{ unsubscribe_path }}

Sent by justLiberals.