    <footer class="blog-footer p-4 bg-secondary">
        <nav class="nav d-flex justify-content-center">
            All content Copyright © justLiberals 2020, except where stated.
        </nav>

    </footer>
    <script src="{{ site.url }}/main.js"></script>
