<aside class="col-xl-4 blog-sidebar">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm position-relative">
        <div class="card-body">
            <h5 class="card-text">Just a group of Liberals, fighting for a Just society</h5>
            <p class="card-text">justLiberals is a group of Liberals that believes things can be done better. We strongly encourage all supporters and readers to join the following organisations:</p>
        </div>
    </div>
    <a class="blog-sidebar" href="https://www.libdems.org.uk/joining-us">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm position-relative clicky-card">
            <img class="card-img-top" width="100%" src={{ site.url }}/assets/images/join-lib-dems.png preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="col p-3 d-flex flex-column position-static blog-sidebar">
                <h5 class="card-title">The Liberal Democrats</h5>
                <p class="card-text">The Liberal Democrats are the only party fighting for Liberalism across Great Britain.</p>
                <p class="card-text">Join them today.</p>
            </div>
        </div>
    </a>
    <a class="blog-sidebar" href="https://www.aldes.org.uk/join/">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm position-relative clicky-card">
            <img class="card-img-top" width="100%" src={{ site.url }}/assets/images/join-aldes.jpg preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="col p-3 d-flex flex-column position-static blog-sidebar">
                <h5 class="card-title">ALDES</h5>
                <p class="card-text">The Association of Liberal Democrat Engineers and Scientists are a member organisation for Scientists, Technologists, Engineers, Medics and Mathematicians within the Lib Dems.</p>
                <p class="card-text">Join them if you are active in STEMM or care about ensuring politics is enriched by STEMM expertise.</p>
            </div>
        </div>
    </a>
    <a class="blog-sidebar" href="mailto:submissions@justliberals.org.uk">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm position-relative clicky-card">
            <img class="card-img-top" width="100%" src={{ site.url }}/assets/images/writing-at-desk.jpg preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
            <div class="col p-3 d-flex flex-column position-static blog-sidebar">
                <h5 class="card-title">Write for us!</h5>
                <p class="card-text">We accept submissions! justLiberals seeks to host writing from Liberals that agree with our core aims.</p>
                <p class="card-text">If you'd like to submit an article then click here to send us an email.</p>
            </div>
        </div>
    </a>
</aside>
